modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run C++"

[[workflows.workflow]]
name = "Build and Run C++"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -std=c++17 -pthread src/main.cpp -o main && ./main"

[deployment]
run = ["sh", "-c", "g++ -std=c++17 -pthread src/main.cpp -o main && ./main"]
